.user-item {
  padding: 0px;
  display: flex;
  align-items: stretch;
  width: 100%;
  &__name {
    flex-grow: 3;
  }
  &__actions {
    flex-grow: 1;
    display:flex;
    justify-content: flex-end;
    .btn {
      margin-left: 10px;
    }
  }
}
